/*

    I commenti servono solo per spiegare i vari elementi. CANCELLALI QUANDO HAI FINITO

*/

/*Definisce lo stile dell'intera pagina*/
body {
  /*il colore dello sfondo*/
  background-color: #37AFE1;
  /*Applica il primo font disponibile fra questa lista*/
  font-family: Arial, Helvetica, sans-serif;
  /*Il colore del testo*/
  color: white;

  /*Potrebbe essere utile*/
  display: grid;

  /*Allinea gli elementi al centro*/
  place-items: center;

  /*Allinea il testo al centro*/
  text-align: center;
}

/*Definisce lo stile dell'elemento con id "search-wrap" (il simbolo # serve a identificare un oggetto per il suo id)*/
#search-wrap {
  background-color: white;
  /*"em" è un'unità di misura che si riferisce alla dimensione del font: in questo caso l'altezza è 3 volte la dimensione del font*/
  height: 3em;
  width: 25em;
  /*permette di avere gli angoli smussati*/
  border-radius: 3em;
  /*definisce la dimensione della "cornice" entro cui sono inseriti gli elementi*/
  padding: 1.5%;
  /*allinea al centro*/
  margin: auto;
}

#search-bar {
  /*rimuovo margine e bordo*/
  margin: 0 solid #fff;
  border: 0 solid #fff;
  background-color: #e3e3e3;
  border-radius: 3em;
  /*allinea a sinistra*/
  float: left;
  /*È utile che ti cerchi la differenza fra margin, border, padding e content*/
  padding: 0%;
  /*L'altezza occupa l'intero spazio disponibile*/
  height: 100%;
  width: 22em;
}

/*Stile per quando la barra di ricerca è in focus (quando ci sto scrivendo sopra)*/
#search-bar:focus {
  /*senza questo ci sarebbe un contorno nero attorno alla barra di ricerca*/
  outline: none;
  /*Anziché grigia si potrebbe fare un azzurro molto vicino al bianco*/
  background-color: #d3d3d3;
  padding: 0%;
}

#search-button {
  border: 0 solid #fff;
  /*anziché grigio si potrebbe fare un giallo molto vicino al bianco*/
  background-color: #e3e3e3;
  border-radius: 3em;
  padding: 0%;
  height: 100%;
  width: 3.7em;
  float: right;
}

/*Quando posiziono il mouse sopra il pulsante di ricerca*/
#search-button:hover {
  background-color: #d3d3d3;
}

/*Quando premo il pulsante di ricerca*/
#search-button:active {
  background-color: #c3c3c3;
}


/*
  PER IL MOMENTO C'È IL PROBLEMA CHE È PRESENTE UNO SPAZIO VUOTO FRA BARRA DI RICERCA E PULSANTE CHE POTREBBE ESSERE
  RIDOTTO, INOLTRE C'È IL PROBLEMA CHE IL LAYOUT CAMBIA QUANDO SI PREME IL PULSANTE RICERCA.
*/